<div
  class="welcome"
  fxLayout="column"
  fxLayout.gt-md="row"
  fxLayoutGap="20px"
  fxLayoutAlign="center center"
>
  <section>
    <h1>ACTIVITY</h1>
    <p>
      Stay active and enjoy better health and more fun.
    </p>
  </section>
  <section>
    <h1>COMMUNITY</h1>
    <p>
      Join the community and get to know other people who are also interested in
      fitness.
    </p>
  </section>
  <section>
    <h1>CHALLENGES</h1>
    <p>
      Don't be afraid to challenge yourself and try new things.
    </p>
  </section>
</div>
